{% extends "base.html" %}
{% block content %}
		
		<div class="container mt-2 p-5 fs-5 d-flex justify-content-center text-dark">
				<div class="col-sm p-4 border rounded-3 shadow-sm bg-green1">
					<h1 class="fw-bold mb-4 text-center">Exercise</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum lectus risus, eu faucibus lectus suscipit ut. Pellentesque viverra metus quis pulvinar tincidunt. Sed vehicula lorem felis, sit amet faucibus nisl ultrices tincidunt. In ac nibh at massa ultricies mattis. Integer ac felis velit. Sed eu magna sit amet dui lacinia tincidunt. Sed venenatis suscipit nunc, non scelerisque urna feugiat sagittis. Nam ac augue est. Nullam egestas hendrerit augue, non consequat ex hendrerit vel. Integer efficitur ex blandit velit lacinia rhoncus. Nulla pretium placerat magna, a vulputate felis aliquam non.
						
						Nunc eleifend consectetur ligula, sodales feugiat tortor tincidunt dignissim. Maecenas turpis erat, facilisis a molestie fermentum, vehicula non ipsum. Cras varius ligula sapien, non vulputate justo venenatis sed. Morbi interdum purus nec magna mollis lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare, felis ac efficitur dignissim, dui sem sagittis tortor, a dignissim dui felis a leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sollicitudin commodo elit, et finibus dolor. Aliquam erat volutpat. Sed purus velit, commodo id sodales quis, consectetur vitae diam. Donec et hendrerit massa. Phasellus sit amet ante lectus.
						
						Phasellus blandit sed purus vel suscipit. Aenean porta vestibulum nulla, eu porttitor nunc mollis sit amet. Sed pulvinar aliquet lorem, vel suscipit elit pulvinar euismod. Nullam metus erat, feugiat vitae tristique at, imperdiet sit amet lacus. Suspendisse lacus lectus, tincidunt at urna eget, pulvinar pulvinar velit. Nulla malesuada nec arcu a consequat. Donec hendrerit magna eget vestibulum tempor. In in ex nibh. Donec vel leo eu sapien suscipit placerat. Cras mattis congue metus, ac mattis sapien porttitor vel.
						
						Vivamus pellentesque mi vitae turpis consequat lobortis. Phasellus finibus vulputate tincidunt. Quisque nibh velit, tincidunt eu ipsum tincidunt, posuere semper eros. Maecenas eget arcu varius dolor bibendum ullamcorper in in nibh. Integer ultricies augue enim, vel facilisis erat pellentesque in. Curabitur dignissim, nunc fringilla rutrum efficitur, diam mi maximus mauris, at varius lorem est in sapien. Proin orci dolor, congue in diam et, feugiat lobortis libero. Aliquam finibus efficitur nisi, eget placerat purus eleifend eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut volutpat risus, ut volutpat risus. Nunc non nunc justo. Phasellus efficitur elit non elit laoreet cursus. Donec consectetur diam at gravida rutrum. Phasellus sit amet velit interdum, tincidunt odio in, egestas odio. Maecenas vitae sapien tellus.
					</p>
				</div>
		</div>
		
{% endblock %}
